{% extends "layout.html" %}
{% block content %}

<link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<img class="responsive-img" src="static/med.jpeg"> <br><br>

<div class = "container valign ">
	<div class = "content-section card blue-grey lighten-5 center-align">
		<img class="responsive-img hoverable" src="static/homepic.png">
		<b><h3>Stay aware.<br>Stay <i>Unholified.</i></h3> </b>
	</div>
</div>
{% endblock content %}