{% extends "layout.html" %}
{% block content %}
<link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<img class="responsive-img" src="static/party.png"> <br>
<div class = "container valign transparent"> 
	<h3 class = "center-align"> <b>btw, just a reminder</b></h3>
	<br>
	<div class = "transparent content-section card center-align amber lighten-5 hoverable">

		<h5> You know the <b>ill effects </b> of alcohol:</h5>
		<h4> <u> Immediate</u> changes in the brain, heart, liver (bad changes)</h4>
		<h6> And some long-term health complications if you’re drinking <b> toooo </b> much. (you never know when 'a bit' may become "too much" though, so just watch out)</p>

	</div>

	<br>

	<div class = "content-section card center-align amber lighten-5 hoverable">

		<h4> But you feel <b> HAPPY </b> when you drink, so why not, right? </h4>
		<h5> Well lad, that's because brain triggers the release of dopamine, a neurotransmitter that’s associated with pleasure and satisfaction, when you consume alcohol. <br>
		So you're under the <i> perception </i> of being happy. </h5>

		<i class="small material-icons center-align">thumbs_down</i>

		<b> Alcohol Withdrawal Syndrome (AWS) :</b>
		<h6> Hallucinations, seizures, even death. If you're dependent on alcohol, stop <a href = "{{ url_for ('severeHelp') }}"> now </a> </h6>

		<h4> The "safe dose" isn't specified, but drink <b> minimally</b>, and <b> responsibly </b>. </h4>

		<br>
		<a class="waves-effect waves-light btn-large red lighten-1 black-text" href = "{{ url_for('cab') }}"> I am a responsible adult. I understand. </a>

	</div>
</div>
{% endblock content %}