{% extends "layout.html" %}
{% block content %}

<div class = "content-section card">

<h2 align="center"> <b>IT'S OKAY NOT TO DRINK!  </b></h2>

<hr>

<p>Alcohol has wide-ranging effects in the body. Once it enters your system, it triggers immediate physiological changes in the brain, heart, and liver, among other organs. Over time, these changes can lead to long-term health complications if you’re drinking too much.</p>

<p>Alcohol has a wide variety of effects. In the brain, it triggers the release of dopamine, a neurotransmitter that’s associated with pleasure and satisfaction. </p>

<p>Excessive alcohol use is responsible for 2.5 million years of potential life lost annually, or an average of about 30 years of potential life lost for each death. </p>

<p>Symptoms of acute alcohol withdrawal syndrome (AWS) include hallucinations, seizures, and, in severe cases, even death. People who are dependent on alcohol should seek medical assistance to stop drinking. </p>


<h3 align="center"><b>Do not give up beginning is always the hardest. </b></h3>
<br>

</div>

<button href="{{ url_for('maps') }}" class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

{% endblock content %}