<!DOCTYPE html>
<html>
<head>

	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css" media="screen,projection"/>
	
</head>

<body>

	<div class = "valign card-panel row blue-grey darken-4">
		<span class = "white-text"> <h4 class = "left-align"> <b>Unholify </h4></span>
    <span class = "white-text"> <class = left-align><a href="{{ url_for('home') }}"> Logout </a></span>  
    <span class = "white-text"> <class = left-align><a href="{{ url_for('account') }}"> Update Account </a></span>  
	</div>

               
            <div class="center-align card blue-grey lighten-5">
              <div class="card-content blue-grey-text">
                <span class="card-title"><h4><b>Life is wonderful; celebrate responsibly</h4></span>
                  <h5> Don't alcoholify it, <i> <b> Unholify </b></i> it ;) </h5>
              </div>

              <div class="card-action">
                <div class="center-align">
                 <a href="{{ url_for('login') }}"><b>Login<b></a>
                </div>
              </div>
            </div>
         </div>
      
        
            <div class="center-align card blue-grey lighten-5">
              <div class="card-content blue-grey-text">
                <span class="card-title"><b><h4>Not registered yet? Make an account</h4></span>
              </div>
              <div class="card-action ">
                <div class="center-align">
                  <b>
                 <a href="{{ url_for('register') }}">Register</a>
                 <b>
                </div>
              </div>
            </div>
          </div>
        


  <script type="text/javascript" src="js/materialize.min.js"></script>

      
</body>
</html>