<!DOCTYPE html>
<html>
<head>

	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css" media="screen,projection"/>
	
</head>

<body>

	<div class = "valign card-panel row blue-grey darken-4">
		<span class = "white-text"> <h4 class = "center-align"> <b>Unholify </h4></span>
	</div>

               
            <div class="center-align card white darken-1">
              <div class="card-content blue-grey-text">
                <span class="card-title"><h5>Unholify me</h5></span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                   I am convenient because I require little markup to use effectively.</p>
              </div>

              <div class="card-action">
                <div class="center-align">
                 <a href="{{ url_for('login') }}"><b>Login<b></a>
                </div>
              </div>
            </div>
         </div>
      
        
            <div class="center-align card white darken-1">
              <div class="card-content blue-grey-text">
                <span class="card-title"><b><h5>Not registered yet? Make an account</h5></span>
              </div>
              <div class="card-action">
                <div class="center-align">
                 <a href="{{ url_for('register') }}">Register</a>
                </div>
              </div>
            </div>
          </div>
        

      <footer class="page-footer fixed">
                <div class="container">
                  <div class="row">
                    <div class="col l6 s12">
                      <h5 class="white-text">Footer </h5>
                      <p class="grey-text text-lighten-4">Add footer content (Nidhee)</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                      <!--<h5 class="white-text">Links</h5>
                       <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                      </ul> -->
                    </div>
                  </div>
                </div>
                <div class="footer-copyright">
                  <div class="container">
                  © 2014 Copyright Unholify
                  
                  </div>
                </div>
        </footer>


  <script type="text/javascript" src="js/materialize.min.js"></script>

      
</body>
</html>