<!DOCTYPE html>
<html>
{% extends "layout.html" %}
{% block content %}
<head>
</head>
	<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection"/>
	
	</head>

	<body>
	<br> <br>
	<div class = "container col s12 transparent valign">
		<span class = "center-align">
			<div class = "card-panel col s7 hoverable blue-grey lighten-5">
				<h3><b>Phew.</b><br>
				We're happy you're fine. </h3>

				<h5><br>
				We'd still suggest: Don't consume alcohol just because you're stressed. You never know when it consumes you. <br>
					Don't believe us? <br>
					Well then, don't take <i> our </i> word for it. See for yourself. </h5>
					<h3><b> There's medical proof </b><h3><a href = "https://www.google.co.in/search?q=why+shouldn%27t+i+drink+alcohol&rlz=1C1CHZL_enIN805IN805&oq=why+shou&aqs=chrome.0.69i59l2j69i57j69i60j0j35i39.1620j0j7&sourceid=chrome&ie=UTF-8"> Google to your rescue</a>. <br>
					<h5>It's doctors, surveys, experiences who dissuade you: <h4>DON'T</h4> fall into this vortex. <br> </h5>
					<br>

				</h5>
			</div>
			<img class="responsive-img hoverable" src="static/moderate.png">
			<div class = "hoverable card-panel blue-grey lighten-5"> <h3> <b>
				So what should I <i>do </i>then? </h3> </b>

				<h6> Try alternatives. </h6>
				<h5> Play a sport.Take a walk. </h5>
				<h5> <b> Talk to someone. </b></h5>
				<h7> <b> Catch up with old friends. <b> <h7>
				<h4> Don't like socialising? Listen to a song. <br>
				Not interested in music? Watch TV. </h4>
				<h6> <i> Not an entertainment person? Pursue a hobby. </i></h6>
				<h3> Do what your passion tells you to </h3> <h3> <b>(not drinking, so that's not an answer). </b> </h3>

			</div>


			<h4 class = "card-panel s12 hoverable">
			We're proud of you for accepting your reason. <br>
			<b>But never let it overpower you.</b> 
			</h4>
		</span>
	</div>

	<!--JavaScript at end of body for optimized loading-->

  <script type="text/javascript" src="static/js/materialize.min.js"></script>
</body>
</html>
{% endblock content %}
		