<!DOCTYPE html>
<html>
{% extends "layout.html" %}
{% block content %}
<head>
</head>
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection"/>
	
	</head>

	<body>
	<br> <br>
	<div class = " container valign">
	  <div class = "transparent card-panel blue-grey lighten-5 center-align">
	  	<span class = "center-align">
	  		<H2> <B>
			Hey, hold on.
		</H2> </B>
			<H3>We're glad you owned up to this.</H3>

			<h5>
			Alcohol <br><br>
			Isn't a dependency <br>
			Isn't a solution <br>
			Isn't a friend <br>
			Isn't the way out. 
			</h5>

			<br>

			<div class = "row">
			<a class="waves-effect waves-light btn-large amber lighten-3 black-text" href = "{{ url_for('severeHelp') }}"> I'm just lonely </a> &nbsp&nbsp
			<a class="waves-effect waves-light btn-large amber lighten-2 black-text" href = "{{ url_for('severeHelp') }}"> I am suicidal. That is my excuse. </a> &nbsp&nbsp
			<a class="waves-effect waves-light btn-large amber black-text" href = "{{ url_for('moderateHelp') }}"> I don't care, it's just normal stress</a>
			</div>
		</div>
	</div>
		</span>


	<!--JavaScript at end of body for optimized loading-->

  <script type="text/javascript" src="static/js/materialize.min.js"></script>
</body>
</html>
{% endblock content %}
		
