{% extends "layout.html" %}
{% block content %}
<div class = "container valign">
    <div class="content-section card blue-grey lighten-5 center-align">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>

                <div class="form-group">
                    {{ form.above_type.label(class="form-control-label") }}
                    {% if form.above_type.errors %}
                        {{ form.above_type(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.above_type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.above_type(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.above_friend.label(class="form-control-label") }}
                    {% if form.above_friend.errors %}
                        {{ form.above_friend(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.above_friend.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.above_friend(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.above_family.label(class="form-control-label") }}
                    {% if form.above_family.errors %}
                        {{ form.above_family(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.above_family.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.above_family(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.above_colleague.label(class="form-control-label") }}
                    {% if form.above_colleague.errors %}
                        {{ form.above_colleague(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.above_colleague.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.above_colleague(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </div>
        </form>
    </div>

{% endblock content %}
